body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #fff;
  font-style: normal;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

.header-container {
  background-image: url(images/deskstop-headline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vw;
  width: 100%;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
}

#name,
.navbar button {
  display: none;
}

.navbar ul {
  display: flex;
  align-content: flex-start;
}

.navbar li a {
  color: #172b4d;
  margin: 0 2.5vw 0 0;
  font-size: 1vw;
  font-style: normal;
  font-weight: bold;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vw;
}

.primary h1 {
  margin: 0 0 1vw 0;
  font-weight: bold;
  font-size: 3.5vw;
  line-height: 4.5vw;
  text-align: center;
  letter-spacing: 0.03vw;
  color: #172b4d;
  white-space: pre-line;
  height: 9vw;
}

.primary h1 span {
  color: #36b37e;
}

#bio {
  text-align: center;
  font-size: 1.4vw;
  line-height: 2.5vw;
  max-width: 200vw;
}

.social ul {
  display: flex;
  justify-content: center;
  margin-top: 0.5vw;
  height: 2vw;
}

.disabled_button img {
  display: block;
  margin: 6vw auto 0 auto;
  height: 2.5vw;
  width: 2.5vw;
}

.work-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2vw;
  line-height: 4vw;
}

.work-title br {
  display: none;
}

.work-title img {
  visibility: hidden;
}

.primary h1 br {
  display: none;
}

.social li img {
  margin: 1vw;
  order: 2;
  height: 2vw;
  width: 2vw;
}

.portfolio-box {
  display: grid;
  grid-template-columns: repeat(3, 27.5vw);
  grid-template-rows: 35.5vw 35.5vw 35.5vw;
  margin: 0 5.5vw;
  gap: 2.5vw;
  padding: 0;
  height: 74vw;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.thumbnail {
  width: 100%;
  height: 18vw;
}

.portfolio-details {
  background: #fff;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 17.5vw;
}

.portfolio-details h2 {
  margin: 1vw 0;
  font-weight: bold;
  font-size: 1.8vw;
  line-height: 2.2vw;
}

.portfolio-details ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 1vw 0;
  justify-content: center;
  text-align: center;
}

.portfolio-details li {
  margin-right: 5px;
  background-color: #ebf0ee;
  padding: 0.8vw 1vw;
  font-weight: bold;
  font-size: 1vw;
  line-height: 1vw;
  letter-spacing: 0.03em;
  color: #3a4a42;
  border-radius: 0.5vw;
  white-space: nowrap;
}

.portfolio-details button {
  background-color: #36b37f;
  border-radius: 4px;
  color: #fff;
  width: 9.3vw;
  height: 3.7vw;
  font-style: normal;
  font-size: 1.4vw;
  line-height: 1vw;
  border: none;
  cursor: pointer;
}

.about {
  margin-top: 5vw;
  background-image: url(images/about-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -1vw;
  background-size: 90vw;
  padding-top: 5vw;
}

.about-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  background-image: url(images/about-desktop-2.svg);
  background-repeat: no-repeat;
  background-position-y: 6vw;
  background-size: 17vw;
}

.about-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  padding: 0 20px;
  height: 48px;
  margin-top: 0;
  margin-bottom: 24px;
}

.about-summary p {
  font-style: normal;
  font-size: 1.5vw;
  line-height: 2.5vw;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2.5vw;
  color: #42526e;
}

.resume {
  background-color: #36b37f;
  color: #fff;
  border-radius: 0.5vw;
  width: 13vw;
  height: 4vw;
  font-size: 1.4vw;
  border: none;
  margin-bottom: 3.5vw;
  cursor: pointer;
}

.resume:hover {
  box-shadow: 0 15px 20px rgba(172, 243, 215, 0.4);
}

.resume:focus {
  background-color: #008552;
  box-shadow: none;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(3, 29vw);
  column-gap: 1.7vw;
  margin: 0 5vw;
}

.tech {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 28vw;
}

.tech .icon {
  height: 16vh;
}

.tech .icon img {
  display: block;
  margin: 0 auto 0 auto;
  height: 100%;
  width: 100%;
}

.tech h2 {
  text-align: center;
  font-size: 2vw;
}

.tech ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0.4vw;
}

.tech li {
  text-decoration: none;
  background: #fff;
  border-radius: 0.5vw;
  color: #36b37e;
  font-weight: 600;
  font-size: 1vw;
  letter-spacing: 0.03em;
  padding: 1vw;
  margin: 0.4vw 0.5vw;
}

.contact {
  background-image: url(images/contact-left.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 22vw;
  background-size: 13vw;
}

.contacts {
  display: grid;
  grid-template-columns: 36vw 73vw;
  column-gap: 2.5vw;
  padding: 7vw;
  background-image: url(images/contact-right.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 10vw;
  background-size: 15.6vw;
}

.contacts .left {
  display: flex;
  align-items: center;
  background-image: url(images/contact-center.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: 9vw;
  justify-content: flex-end;
}

.contacts .right {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 47vw;
}

.contact-header {
  text-align: center;
  line-height: 3.8vw;
  color: #172b4d;
  margin: 0;
  font-size: 2.3vw;
  padding: 5vw 0 15vw 0;
}

.contact form ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.contact form input {
  width: 47vw;
  height: 4vw;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 1.2vw;
}

#firstname,
#lastname {
  width: calc(24vw - 1vw);
}

.contact input::placeholder {
  height: 4vw;
  color: #6b778c;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 3vw;
}

.contact textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  font-style: normal;
  line-height: 3vw;
  color: #091e42;
  margin: 2.3vw 0 0 2.3vw;
}

.contact form li + li {
  margin-top: 1.1vw;
  margin-right: 1vw;
}

.contact textarea {
  height: 9vw;
  width: 47vw;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
}

.contact form button {
  width: 9.5vw;
  height: 3.5vw;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4vw;
  margin-top: 2.3vw;
  border: none;
  cursor: pointer;
}

hr {
  height: 0.05vw;
  background-color: #dfe1e6;
}

.email-footer {
  display: none;
}

.social li a img:hover {
  transform: scale(1.5);
}

.portfolio-details button:hover {
  box-shadow: 0 15px 20px rgba(172, 243, 215, 0.4);
}

.navbar button:focus {
  border: none;
  outline: none;
}

.portfolio-details button:focus {
  background-color: #008552;
  box-shadow: none;
}

.contact form button:hover {
  box-shadow: 0 15px 20px rgba(172, 243, 215, 0.4);
}

.contact form button:focus {
  background-color: #008552;
  box-shadow: none;
}
