body {
  font-family: "Inter", sans-serif;
  display: block;
  margin: 0;
}

.headline {
  background-image: url(images/header-illsutration-mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  display: flex;
}

.header {
  display: flex;
  height: 48px;
  margin-top: 44px;
  justify-content: space-between;
}

.disabled_button img {
  margin: 75px 0 0 180px;
}

.navbar button {
  display: inline-flex;
  margin-right: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar button:focus {
  border: none;
  outline: none;
}

.navbar button img:hover {
  transform: scale(1.5);
}

.header a {
  font-size: 20px;
  font-weight: bold;
  margin-left: 12px;
  color: #28352f;
  text-decoration: none;
}

.primary h1 {
  color: #172b4d;
  margin-top: 70px;
  text-align: center;
  font-size: 40px;
  align-content: flex-start;
}

.primary h1 span {
  padding-top: 100px;
  color: #36b37e;
}

#bio {
  text-align: center;
  margin: 58px 0;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
}

.social ul {
  display: flex;
  justify-content: space-around;
  width: 200px;
  margin: 58px 0 58px 80px;
  list-style-type: none;
}

.social li a {
  order: 2;
}

.social li a img:hover {
  transform: scale(1.5);
}
